In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import random

In [25]:
df=pd.read_csv('crime.csv')

In [26]:
df

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,Latitude,Longitude
0,Other Theft,2003,5,12,16.0,15.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763
1,Other Theft,2003,5,7,15.0,20.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763
2,Other Theft,2003,4,23,16.0,40.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763
3,Other Theft,2003,4,20,11.0,15.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763
4,Other Theft,2003,4,12,17.0,45.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763
...,...,...,...,...,...,...,...,...,...,...,...,...
530647,Break and Enter Residential/Other,2017,3,3,9.0,16.0,31XX ADANAC ST,Hastings-Sunrise,497265.49,5458296.71,49.277420,-123.037595
530648,Mischief,2017,5,29,22.0,30.0,14XX E 7TH AVE,Grandview-Woodland,494533.97,5456824.97,49.264163,-123.075129
530649,Offence Against a Person,2017,4,13,NaN,NaN,OFFSET TO PROTECT PRIVACY,NaN,0.00,0.00,0.000000,0.000000
530650,Theft from Vehicle,2017,6,5,17.0,0.0,8XX HAMILTON ST,Central Business District,491487.85,5458385.78,49.278168,-123.117031
530651,Vehicle Collision or Pedestrian Struck (with I...,2017,6,6,17.0,38.0,13XX BLOCK PARK DR,Marpole,490204.00,5451444.00,49.215706,-123.134512

In [27]:
df.dropna()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,Latitude,Longitude
0,Other Theft,2003,5,12,16.0,15.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763
1,Other Theft,2003,5,7,15.0,20.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763
2,Other Theft,2003,4,23,16.0,40.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763
3,Other Theft,2003,4,20,11.0,15.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763
4,Other Theft,2003,4,12,17.0,45.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763
...,...,...,...,...,...,...,...,...,...,...,...,...
530646,Mischief,2017,1,18,14.0,44.0,14XX E HASTINGS ST,Grandview-Woodland,494563.75,5458727.40,49.281276,-123.074746
530647,Break and Enter Residential/Other,2017,3,3,9.0,16.0,31XX ADANAC ST,Hastings-Sunrise,497265.49,5458296.71,49.277420,-123.037595
530648,Mischief,2017,5,29,22.0,30.0,14XX E 7TH AVE,Grandview-Woodland,494533.97,5456824.97,49.264163,-123.075129
530650,Theft from Vehicle,2017,6,5,17.0,0.0,8XX HAMILTON ST,Central Business District,491487.85,5458385.78,49.278168,-123.117031
530651,Vehicle Collision or Pedestrian Struck (with I...,2017,6,6,17.0,38.0,13XX BLOCK PARK DR,Marpole,490204.00,5451444.00,49.215706,-123.134512

In [28]:
encoder = OneHotEncoder()


encoded_data = encoder.fit_transform(df[['NEIGHBOURHOOD']])


df_encoded = pd.DataFrame(encoded_data.toarray(), columns=encoder.get_feature_names_out(['NEIGHBOURHOOD']))

df_encoded

,NEIGHBOURHOOD_Arbutus Ridge,NEIGHBOURHOOD_Central Business District,NEIGHBOURHOOD_Dunbar-Southlands,NEIGHBOURHOOD_Fairview,NEIGHBOURHOOD_Grandview-Woodland,NEIGHBOURHOOD_Hastings-Sunrise,NEIGHBOURHOOD_Kensington-Cedar Cottage,NEIGHBOURHOOD_Kerrisdale,NEIGHBOURHOOD_Killarney,NEIGHBOURHOOD_Kitsilano,...,NEIGHBOURHOOD_Riley Park,NEIGHBOURHOOD_Shaughnessy,NEIGHBOURHOOD_South Cambie,NEIGHBOURHOOD_Stanley Park,NEIGHBOURHOOD_Strathcona,NEIGHBOURHOOD_Sunset,NEIGHBOURHOOD_Victoria-Fraserview,NEIGHBOURHOOD_West End,NEIGHBOURHOOD_West Point Grey,NEIGHBOURHOOD_nan
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530647,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
530648,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
530649,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
530650,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
530651,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
encoder = OneHotEncoder()


encoded_data = encoder.fit_transform(df[['NEIGHBOURHOOD']])


df_encoded = pd.DataFrame(encoded_data.toarray(), columns=encoder.get_feature_names_out(['NEIGHBOURHOOD']))


df_encoded

,NEIGHBOURHOOD_Arbutus Ridge,NEIGHBOURHOOD_Central Business District,NEIGHBOURHOOD_Dunbar-Southlands,NEIGHBOURHOOD_Fairview,NEIGHBOURHOOD_Grandview-Woodland,NEIGHBOURHOOD_Hastings-Sunrise,NEIGHBOURHOOD_Kensington-Cedar Cottage,NEIGHBOURHOOD_Kerrisdale,NEIGHBOURHOOD_Killarney,NEIGHBOURHOOD_Kitsilano,...,NEIGHBOURHOOD_Riley Park,NEIGHBOURHOOD_Shaughnessy,NEIGHBOURHOOD_South Cambie,NEIGHBOURHOOD_Stanley Park,NEIGHBOURHOOD_Strathcona,NEIGHBOURHOOD_Sunset,NEIGHBOURHOOD_Victoria-Fraserview,NEIGHBOURHOOD_West End,NEIGHBOURHOOD_West Point Grey,NEIGHBOURHOOD_nan
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530647,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
530648,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
530649,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
530650,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
530651,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
scaler = MinMaxScaler()

df_normalize = df[['MONTH','DAY','HOUR','MINUTE','Latitude','Longitude']]

In [31]:
df_normalized=scaler.fit_transform(df_normalize)

In [32]:
df_normalized_dataframe = pd.DataFrame(df_normalized,columns=df_normalize.columns)

In [33]:
df_normalized_dataframe

           MONTH       DAY      HOUR    MINUTE  Latitude  Longitude
0       0.363636  0.366667  0.695652  0.254237  0.990242   0.011770
1       0.363636  0.200000  0.652174  0.338983  0.990242   0.011770
2       0.272727  0.733333  0.695652  0.677966  0.990242   0.011770
3       0.272727  0.633333  0.478261  0.254237  0.990242   0.011770
4       0.272727  0.366667  0.739130  0.762712  0.990242   0.011770
...          ...       ...       ...       ...       ...        ...
530647  0.181818  0.066667  0.391304  0.271186  0.990395   0.012141
530648  0.363636  0.933333  0.956522  0.508475  0.990129   0.011840
530649  0.272727  0.400000       NaN       NaN  0.000000   1.000000
530650  0.454545  0.133333  0.739130  0.000000  0.990410   0.011503
530651  0.454545  0.166667  0.739130  0.644068  0.989155   0.011363

[530652 rows x 6 columns]

In [34]:
final_df= pd.concat([df_encoded,df_normalized_dataframe],axis=1)

In [35]:
final_df

,NEIGHBOURHOOD_Arbutus Ridge,NEIGHBOURHOOD_Central Business District,NEIGHBOURHOOD_Dunbar-Southlands,NEIGHBOURHOOD_Fairview,NEIGHBOURHOOD_Grandview-Woodland,NEIGHBOURHOOD_Hastings-Sunrise,NEIGHBOURHOOD_Kensington-Cedar Cottage,NEIGHBOURHOOD_Kerrisdale,NEIGHBOURHOOD_Killarney,NEIGHBOURHOOD_Kitsilano,...,NEIGHBOURHOOD_Victoria-Fraserview,NEIGHBOURHOOD_West End,NEIGHBOURHOOD_West Point Grey,NEIGHBOURHOOD_nan,MONTH,DAY,HOUR,MINUTE,Latitude,Longitude
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.363636,0.366667,0.695652,0.254237,0.990242,0.011770
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.363636,0.200000,0.652174,0.338983,0.990242,0.011770
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.272727,0.733333,0.695652,0.677966,0.990242,0.011770
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.272727,0.633333,0.478261,0.254237,0.990242,0.011770
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.272727,0.366667,0.739130,0.762712,0.990242,0.011770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530647,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.181818,0.066667,0.391304,0.271186,0.990395,0.012141
530648,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.363636,0.933333,0.956522,0.508475,0.990129,0.011840
530649,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.272727,0.400000,NaN,NaN,0.000000,1.000000
530650,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.454545,0.133333,0.739130,0.000000,0.990410,0.011503
530651,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.454545,0.166667,0.739130,0.644068,0.989155,0.011363

In [75]:
final_df=final_df.dropna()
X=final_df[['HOUR','Latitude','Longitude','NEIGHBOURHOOD_Arbutus Ridge']]
num_rows = 476290

random_list = [random.randint(0.0, 1.0) for i in range(num_rows)]
Y = pd.DataFrame({'Crime': random_list})
Y

        Crime
0           0
1           1
2           0
3           0
4           1
...       ...
476285      1
476286      0
476287      0
476288      1
476289      0

[476290 rows x 1 columns]

In [131]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,random_state=42)

In [132]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten

model=Sequential()

In [133]:
model.add(Flatten(input_shape=(3,)))
model.add(Dense(128,activation='relu'))
model.add(Dense(64,activation='relu'))
model.add(Dense(32,activation='relu'))
model.add(Dense(1,activation='softmax'))

In [134]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 flatten_6 (Flatten)         (None, 3)                 0

 dense_21 (Dense)            (None, 128)               512

 dense_22 (Dense)            (None, 64)                8256

 dense_23 (Dense)            (None, 32)                2080

 dense_24 (Dense)            (None, 1)                 33

=================================================================
Total params: 10881 (42.50 KB)
Trainable params: 10881 (42.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [135]:
model.compile(loss='binary_crossentropy', optimizer='Adam',metrics=['accuracy'])

In [136]:
model.fit(x_train, y_train, epochs=10, batch_size=32)

Epoch 1/10
11164/11164 [==============================] - 31s 3ms/step - loss: 0.6933 - accuracy: 0.4996
Epoch 2/10
11164/11164 [==============================] - 28s 3ms/step - loss: 0.6932 - accuracy: 0.4996
Epoch 3/10
11164/11164 [==============================] - 28s 2ms/step - loss: 0.6932 - accuracy: 0.4996
Epoch 4/10
11164/11164 [==============================] - 27s 2ms/step - loss: 0.6932 - accuracy: 0.4996
Epoch 5/10
11164/11164 [==============================] - 26s 2ms/step - loss: 0.6932 - accuracy: 0.4996
Epoch 6/10
11164/11164 [==============================] - 26s 2ms/step - loss: 0.6932 - accuracy: 0.4996
Epoch 7/10
11164/11164 [==============================] - 28s 3ms/step - loss: 0.6932 - accuracy: 0.4996
Epoch 8/10
11164/11164 [==============================] - 27s 2ms/step - loss: 0.6932 - accuracy: 0.4996
Epoch 9/10
11164/11164 [==============================] - 27s 2ms/step - loss: 0.6932 - accuracy: 0.4996
Epoch 10/10
11164/11164 [==============================] - 27s 2ms/step - loss: 0.6932 - accuracy: 0.4996

In [116]:
y=model.predict(x_test)

3722/3722 [==============================] - 7s 2ms/step

In [139]:
y=pd.DataFrame(y)
count =0
for num in y[0]:
    if num==0:
        count=count+1
        
count

0

In [111]:
model.save('model.h5')

In [112]:
import tensorflow as tf

model.save('model.h5')

loaded_model = tf.keras.models.load_model('model.h5')

In [113]:
features=[[0.12,0.990242,0.011840]]

In [114]:
loaded_model.predict(features)

1/1 [==============================] - 0s 150ms/step

array([[1.]], dtype=float32)